.title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var( --e-global-color-e5ebd69 );
    font-family: "Arial", Arial;
}
.filter{
    box-sizing: border-box;
   
}
.list-5-Item{
    display: flex;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    font: Arial;
    color: #4b4b4b;
    
}
.item{
    margin: 0 15px;
}


.product-list{
    
}

.List-Iphone{
    display: flex;
    margin: 0 15px;
}