
body{
    font-style: normal;
    font-size: 20px;   
}


a{
font-weight: 900;
color: black;
}


img{
    display: flex;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.hinhanh{
    border-radius: 30px;
}

.img-banner{
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

.button{
    width: 132px;
    background-color: #fff;
    color: blue;
    border-color: blue;
    
}


/* ------ RESET ----  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.product-card .button:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}








/* 
NGUYÊN TẮC LÀM
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết

*/

/* 
1.vị trí 
2. kích thước (width rộng - height cao)
3. màu sắc
4.kiểu dáng(kiểu chữ, hình tròn,vuông...)

*/



#header{
    height: 46px;
    background-color: black;
    /* thanh cuộn cố định */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav   {
    display: inline-block;
}


#nav> li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top :100%;
    left: 0;
    background-color: #fff; 
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

#nav .subnav a {
    color: #333;
    padding: 0px 12px;
    line-height: 38px;
}

#nav >li >a{
    color: white;
    

}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 20px;
    display: block;
    
   

}

#nav > li:hover > a{
    color: black;
    background-color: grey;
}

#nav .subnav li:hover {
    color: black;
    background-color: grey;
}
#nav .nav-arrow-down {
    font-size: 14px;
}


#header .cart-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}
#header .cart-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}


#header .search-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}

#slider
{
    /* min-height: 500px; */
    /* margin-top: 46px; */
    top: 0;
}
 /* --------------- */


.img{
    width: 100%;
    margin-top: 46px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-card{
    width: 390px;
    /* height:311px; */
    text-align: center;
    font-style: normal;
    margin-right: 30px;
    
}

.text-card{
        margin-bottom: 7px;
        font-size: 20px;
    
}


button{
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 7px;
    color:white;
}

.discount{
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly


}

.title-iphone{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-iphone a{text-decoration: none}

.list-iphone{
    display: flex;
    margin: 30px 0;
    justify-content: center;
    
}
.product-list-iphone{
    text-align: center;
}
.product-list-card-iphone{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between;
}

.click-product-iphone{
    background-color: #fff;
    color: blue;
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;
}

.prince-produce-iphone{
    margin-bottom: 20px;
}

.product-list-ipad{
    text-align: center;
}

.title-ipad{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-ipad a {
    text-decoration: none
}

.list-ipad {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-ipad{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between; 
}

.prince-produce-ipad{
    margin-bottom: 20px;
}

.click-product-ipad{
    background-color: #fff;
    color: rgb(97, 97, 195);
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;

}


.click-product-ipad{
    background-color: #fff;
    color: blue;
    border-color: blue;
}


.click-product-iphone{
    background-color: white;
    color: blue;
    border-color: blue;
}


.click-product-iphone:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}


.click-product-ipad:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}


.product-list-macbook{
    text-align: center;
}

.title-macbook{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
}

.title-macbook a{text-decoration: none}

.list-macbook{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-macbook{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between;
}

.prince-produce-macbook{
    margin-bottom: 20px;
}

.click-product-macbook{
    background-color: white;
    color: blue;
    border-color: blue;
    font-size: 15px;
    padding: 10px 20px;
}

.click-product-macbook:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
    
}

.discount{
    background-color: gainsboro;
    margin-top: auto;
    margin-bottom: auto;
    
}

.all-product-list-iphone{
    background-color: gainsboro;
    margin-top: auto;
}

.all-product-list-ipad{
    background-color: gainsboro;
    margin-top: auto;
}

.all-product-list-macbook{
    background-color: gainsboro;
    margin-top: auto;
}

.iphone-text-produce{
    border-radius: 20px;
    background: black;
    color: white;
}

.ipad-text-produce{
    border-radius: 20px;
    background: black;
    color: white;
}

.macbook-text-produce{
    border-radius: 20px;
    background: black;
    color: white;
}

.discount-text-produce{
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.all-product-list-watch{
    background-color: gainsboro;
    margin-top: auto;
}

.product-list-watch{
    text-align: center;
}

.title-watch{text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-watch a{text-decoration: none}

.list-watch{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-watch{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between;
}

.macbook-text-produce{
    border-radius: 20px;
    background: black;
    color: white;
}

.prince-produce-watch{
    margin-bottom: 20px;
}

.click-product-watch{
    background-color: white;
    color: blue;
    border-color: blue;
    font-size: 15px;
    padding: 10px 20px;
}

.click-product-watch:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
    
}

.all-product-list-ipad{
    
}


    



