header{
   display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 20px 0;
}
body{
    font-style: normal;
    font-size: 20px;
    


}
img{
    display: flex;
    width: 100%;
    height: 300px;
}
.img{
    width: 100%;
}
.product-card{
    width: 390px;
    /* height:311px; */
    text-align: center;
    font-style: normal;
    margin-right: 30px;
    
}

.text-card{
        margin-bottom: 7px;
        font-size: 20px;
        

}

button{
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 7px;
    background-color:blue;
    color:whitesmoke;

}

.discount{
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.title-iphone{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    
}

.title-iphone a{text-decoration: none}

.list-iphone{
    display: flex;
    margin: 30px 0;
    justify-content: center;
    
}
.product-list-iphone{
    text-align: center;
}
.product-list-card-iphone{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between;
}

.click-product-iphone{
    background-color: #fff;
    color: blue;
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;
}

.prince-produce-iphone{
    margin-bottom: 20px;
}

.product-list-ipad{
    text-align: center;
}

.title-ipad{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.title-ipad a {
    text-decoration: none
}

.list-ipad {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-ipad{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between; 
}

.prince-produce-ipad{
    margin-bottom: 20px;
}

.click-product-ipad{
    background-color: #fff;
    color: blue;
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;
}


