


html{
    background-color: black;
}


body{
    /* font-style: normal; */
    font-size: 20px;   
}


a{
font-weight: 900;
color: black;
}


img{
    display: flex;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.hinhanh{
    border-radius: 30px;
}

.img-banner{
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

.button{
    width: 132px;
    background-color: #fff;
    color: blue;
    border-color: blue;
    
}


/* ------ RESET ----  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.product-card .button:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}








/* 
NGUYÊN TẮC LÀM
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết

*/

/* 
1.vị trí 
2. kích thước (width rộng - height cao)
3. màu sắc
4.kiểu dáng(kiểu chữ, hình tròn,vuông...)

*/



#header{ 
    height: 46px;
    background-color: gray;
    /* thanh cuộn cố định */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    font-family:system-ui;
    z-index: 10;
    
    
}

#nav   {
    display: inline-block;
}


#nav> li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top :100%;
    left: 0;
    background-color: #fff; 
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

#nav .subnav a {
    color: #333;
    padding: 0px 12px;
    line-height: 38px;
}

#nav >li >a{
    color: white;
    

}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 20px;
    display: block;
    
   

}

#nav > li:hover > a{
    color: black;
    background-color: grey;
}

#nav .subnav li:hover {
    color: black;
    background-color: grey;
}
#nav .nav-arrow-down {
    font-size: 14px;
}


#header .cart-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}
#header .cart-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 16px 21px;
}


#header .search-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 16px 21px;
    
}

#header .search-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}

#slider
{
    /* min-height: 500px; */
    /* margin-top: 46px; */
    top: 0;
}
 /* --------------- */


.img{
    width: 100%;
    margin-top: 46px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-card{
    width: 390px;
    /* height:311px; */
    text-align: center;
    font-style: normal;
    margin-right: 30px;
    
}

.text-card{
        margin-bottom: 7px;
        font-size: 20px;
        font-size: 15px;
       
    
}


button{
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 7px;
    color:white;
}

.discount{
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly


}

.title-iphone{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-iphone a{text-decoration: none}

.list-iphone{
    display: flex;
    margin: 30px 0;
    justify-content: center;
    
}
.product-list-iphone{
    text-align: center;
}
.product-list-card-iphone{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between;
}

.click-product-iphone{
    background-color: #fff;
    color: blue;
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;
}

.prince-produce-iphone{
    margin-bottom: 20px;
}

.product-list-ipad{
    text-align: center;
}

.title-ipad{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-ipad a {
    text-decoration: none
}

.list-ipad {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-ipad{
    margin: 0 20px;
    width: 283px;
    justify-content: space-between; 
}

.prince-produce-ipad{
    margin-bottom: 20px;
}

.click-product-ipad{
    background-color: #fff;
    color: rgb(97, 97, 195);
    text-align: center;
    font-size: 15px;
    border: 2px solid blue;
    padding: 10px    20px;

}


.click-product-ipad{
    background-color: #fff;
    color: blue;
    border-color: blue;
}


.click-product-iphone{
    background-color: white;
    color: blue;
    border-color: blue;
}


.click-product-iphone:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}


.click-product-ipad:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}




.title-macbook{
    text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
}

.title-macbook a{text-decoration: none}

.list-macbook{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-macbook{
    margin: 0 20px;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
}

.prince-produce-macbook{
    margin-bottom: 20px;
}

.click-product-macbook{
    background-color: white;
    color: blue;
    border-color: blue;
    font-size: 15px;
    padding: 10px 20px;
}

.click-product-macbook:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
    
}

.discount{
    background-color: #f2f2f2;
    margin-top: auto;
    margin-bottom: auto;
    
}

.all-product-list-iphone{
    background-color: #f2f2f2;
    margin-top: auto;
}

.all-product-list-ipad{
    background-color: #f2f2f2;
    margin-top: auto;
}

.all-product-list-macbook{
    background-color:#f2f2f2;
    margin-top: auto;
}


.iphone-text-produce{
    border-radius: 20px;
    background:#dceeff;
    color: black;
    font-size:15px;
}

.ipad-text-produce{
    border-radius: 20px;
    background: #dceeff;
    color: black;
    font-size:15px;
}

.macbook-text-produce{
    font-size:15px;
    border-radius: 20px;
    background: #dceeff;
    color: black;
}


.watch-text-produce{
    border-radius: 20px;
    background: #dceeff;
    color: black;
    font-size:15px;
}

.discount-text-produce{
    border-radius: 20px;
    background: #dceeff;
    color: black;
    font-size:15px;
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.all-product-list-watch{
    background-color: #f2f2f2;
    margin-top: auto;
}

.product-list-watch{
    text-align: center;
}

.title-watch{text-align: center;
    font-size: 40px;
    margin-top: auto;
    padding-top: 50px;
    
}

.title-watch a{text-decoration: none}

.list-watch{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.product-list-card-watch{
    margin: 0 20px;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
}



.prince-produce-watch{
    margin-bottom: 20px;
}

.click-product-watch{
    background-color: white;
    color: blue;
    border-color: blue;
    font-size: 15px;
    padding: 10px 20px;
}

.click-product-watch:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
    
}

/* ------- Css cua JS----- */
.mySlides{
    max-width: 100%;
    margin-top: 100px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: none;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slide{
    border-radius: 0;

}

.slide:hover{
    box-shadow: #333;
    cursor: pointer;
}

.discount-text-produce .hover-discount:hover{
    border-radius: 20px;
    box-shadow: gray;
    cursor: pointer;
}

/* -------FOOTER------ */ 

footer{
    width: 100%;
    background-color: #333;
    display: flex;
    height: 400px;
    margin: 0;
}

.box1{
    width: calc(100%/5);
    color: white;
    text-align: center;
}
.box2{
    width: calc(100%/5);
    color: white;
    text-align: left;
    padding: 30px;
    margin-left: 65px;
}
.box3{
    width: calc(100%/5);
    color: white;
    text-align: left;
    padding: 30px;
    margin-left: 65px;
}
.box4{
    width: calc(100%/5);
    color: white;
    text-align: left;
    padding: 30px;
    margin-left: 65px;
}
.box5{
    width: calc(100%/5);
    color: white;
    text-align: left;
    padding: 30px;
    margin-left: 0px;
}
.box1_1{
    color: white;
}
ul li {
    margin-bottom: 15px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: blue;
    transition: all 1s;
}
