
body{
    font-style: normal;
    font-size: 20px;   
}


a{
font-weight: 900;
color: black;
}


img{
    display: flex;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.hinhanh{
    border-radius: 30px;
}

.img-banner{
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

.button{
    width: 132px;
    background-color: #fff;
    color: blue;
    border-color: blue;
    
}


/* ------ RESET ----  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.product-card .button:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}








/* 
NGUYÊN TẮC LÀM
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết

*/

/* 
1.vị trí 
2. kích thước (width rộng - height cao)
3. màu sắc
4.kiểu dáng(kiểu chữ, hình tròn,vuông...)

*/



#header{ 
    height: 46px;
    background-color: gray;
    /* thanh cuộn cố định */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    font-family:system-ui;
    
    
}

#nav   {
    display: inline-block;
}


#nav> li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top :100%;
    left: 0;
    background-color: #fff; 
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
    
}

#nav .subnav a {
    color: #333;
    padding: 0px 12px;
    line-height: 38px;
}

#nav >li >a{
    color: white;
    

}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 20px;
    display: block;
    
   

}

#nav > li:hover > a{
    color: black;
    background-color: grey;
}

#nav .subnav li:hover {
    color: black;
    background-color: grey;
}
#nav .nav-arrow-down {
    font-size: 14px;
}


#header .cart-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}
#header .cart-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}


#header .search-btn{
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    background-color: red;
    /* thay đổi con trỏ chuột */
    cursor: pointer;
}

#slider
{
    /* min-height: 500px; */
    /* margin-top: 46px; */
    top: 0;
}